body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.6;
    font-size: 16px;
    max-width: 900px;
    margin: auto;
  }

.header {
    padding-top: 20px;
  }
  
ul {
    list-style-type: none;
    padding: 0;
}
.author {
    font-size: 18px;
    font-weight: bold;
} 