body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.6;
  font-size: 16px;
  max-width: 900px;
  margin: auto;
}

#p5-sketch {
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 20px;
}

pre {
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
  line-height: 15pt;
}

.toprule {
  margin-bottom: 0px;
  height: 16px;
  /* Set the hr color */
  background-color: #000; /* Modern Browsers */
}

.bottomrule {
  margin-bottom: 0px;
  height: 8px;
  /* Set the hr color */
  background-color: #000; /* Modern Browsers */
}

.post {
  margin-left: 20px;
}

.post-content {
  margin-left: 0px;
  margin-top: 80px;
}

.post-header {
  margin-top: 20px;
  margin-left: 120px;
}

.header {
  padding-top: 20px;
}

.author {
  font-size: 24px;
  font-weight: bold;
  /* text-align: center; */
}

.menu {
  text-align: right;
  /* padding-right: 40px; */
}

.menu ul {
  padding-left: 0px;
}

.menu li {
    font-size: 18px;
    font-weight: lighter !important;
    display: inline;
    margin: 8px !important;
}

.menu a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.menu a:hover {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

.main {
  padding-top: 50px;
  margin: auto;
  /* width: 85%; */
}

.main a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.main a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.project-picture {
  width: 200px;
  /* min-width: 200px; */
}

.profile-picture {
  width: 180px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
  body {
    width: 95%;
  }

  .menu {
    text-align: center;
  }

  .author {
    text-align: center;
  }

  .project-picture {
    width: 300px;
    margin-bottom: 10px;
  }

  .profile-picture {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

}
