<!DOCTYPE html>
<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta name="robots" content="follow, index"/>
      <meta name="description" content="Lucas N. Ferreira personal website." />
      <meta property="og:url" content="http://www.lucasnferreira.com" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="Lucas N. Ferreira" />
      <meta property="og:description" content="Lucas N. Ferreira personal website." />
      <meta property="og:title" content="Lucas N. Ferreira" />
      <meta property="og:image" content="http://www.lucasnferreira.com/assets/images/card.png" />

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="https://twitter.com/lucasnfe" />
      <meta name="twitter:title" content="Lucas N. Ferreira" />
      <meta name="twitter:description" content="Lucas N. Ferreira personal website." />
      <meta name="twitter:image" content="http://www.lucasnferreira.com/assets/images/card.png" />

      <!-- Bootstrap CSS -->
      <link rel="stylesheet"  href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">

      <!-- Website CSS -->
      <link rel="stylesheet" href="{{ '/assets/css/website.css' | relative_url}}">

      <title>Lucas N. Ferreira</title>
    </head>

    <body>
      <div class="container">
        <div class="header row align-items-center">
          <div class="col-lg-3">
            <p class="author">Lucas N. Ferreira</p>
          </div>

          <div class="col-lg">
            <div class="menu">
              <ul>
                  {% for item in site.data.navigation %}
                  <li><a href="{{ item.link | relative_url }}">
                  {{ item.name }}
                  </a></li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="main">
              {{ content }}
          </div>
        </div>

        <div class="container text-center py-3 my-3">
          <footer>
            <ul class="list-inline text-center">
              {% for item in site.data.social %}
                <li class="list-inline-item m-0 ">
                  <a class="text-muted" href="{{ item.link | relative_url }}"><img src="{{ item.image | relative_url }}"/></a>
                </li>
              {% endfor %}
            </ul>

            <span class="text-muted">© 2022 • Lucas N. Ferreira</span>
          </footer>
        </div>
      </div>
    </body>
</html>
